.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 22px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.label-container input {
    opacity: 0;
    height: 0;
    width: 0;
}

.selected {
    background-color: lightgreen;
}

.label-container:not(.disabled):hover {
    cursor: pointer;
    border: 1px solid lightgreen;
}

.disabled {
    background-color: lightgrey;
}