.card-view-list-flex, .card-view-list-grid {
    height: 0; /* Setting the height to anything else cuts the previous components */
}

.card-view-list-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-view-list-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 240px);
    grid-gap: 5px;
}