.grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: var(--option-spacing);
    column-gap: var(--option-spacing);
    row-gap: var(--option-spacing);
    max-width: 1000px;
    border: 1px solid black;
}

.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 22px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.label-container input {
    opacity: 0;
    height: 0;
    width: 0;
}

.selected {
    background-color: lightgreen;
}

.label-container:not(.disabled):hover {
    cursor: pointer;
}

.focused, .label-container:not(.disabled):hover {
    border: 1px solid lightgreen;
    background-color: rgb(162, 254, 199);
}

.disabled {
    background-color: lightgrey;
}